-e git+https://github.com/digital-land/digital-land-python.git@entity_lookup_ft#egg=digital-land
-e git+https://github.com/digital-land/datasette@allow-bidirectional-joins#egg=datasette
Click
pytest
PyGithub
black
flake8
SQLAlchemy
