-e git+https://github.com/digital-land/digital-land-python.git#egg=digital-land
-e git+https://github.com/digital-land/view-model.git#egg=view-model
datasette
Click
pytest
PyGithub
black
flake8
SQLAlchemy
